
{% extends 'base.html'%}
{%import 'macros.html' as macro %}


{% block content %}
<style>
    .head{
        color: rgb(31, 135, 153);
        text-align: center;
    }
    .upload{
        text-align: center;
        font-size: 0.5cm;
        color: cornflowerblue;
    }
    .view{
        font-size: 0.45cm;
    }
    .profile{
        text-align: right;
        font-size: 0.75cm;
        font-weight: bold;
    }
    body{
    background-color:burlywood;
  }
  .in{
      text-align: center;
      font-size: 0.45cm;
  }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<h1 class="head">BLOG SITE</h1>
<figure class="text-center">
    <blockquote class="blockquote">
        <div class="profile">
            {% if current_user.is_authenticated %}
            <p><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></p>
            <p><a href="{{url_for('auth.logout')}}">Sign out</a></p><br>
            {%endif%}
        </div>
    <p> <i class="fas fa-quote-left"></i> {{quotes.quote}} <i class="fas fa-quote-right"></i></p>
    <cite title="Source Title"> <i class="fas fa-pen-alt"></i> {{quotes.author}}</cite><br><br>
    </blockquote>
    <figcaption class="blockquote-footer">
         <strong><a class="view" href="/"> Click here to view more quotes. </a> </strong><br>
        <p style="text-align: center;"></p>
    </figcaption>    
</figure>

{{macro.displayBlog(blog)}}
<p class="upload">
    {% if current_user.is_authenticated %}
    <strong> <button color: cornflowerblue;><a href="{{url_for('main.upload_blog',uname=current_user.username)}}">Upload your own blog here.</a> </button></strong>
    {% else %}
            <strong><button class="in"><a href="{{url_for('auth.login')}}">Sign in to continue.</a></button></strong>
    {%endif%}
</p>
{% endblock %}