{% macro displayBlog(blog_list)%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">"
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/css/style.css">
{% for blog in blog_list %}
<style>
    .post{
        font-size: 0.5cm;
        padding: 3rem;
        background-color:darksalmon;
        margin-bottom: 2rem;
        border-radius: 30px;
        
    }
</style>

<div class="container">
    <div class="post">
Title:{{blog.title}}
<p> Blog:{{blog.blog}}</p>
<p> Posted on:{{blog.posted.strftime('%Y-%m-%d')}}</p>
<a href="{{url_for('main.comment_blog',blog_id=blog.id)}}"><button type="button"
        class="btn btn-danger">Comments</button></a><br>
    </div>
</div>
{% endfor %}
{% endmacro %}


{% macro displayComments(comments_list)%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">"
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css">
{% for comment in comments_list %}
<style>
    .comment{
        font-size: 0.5cm;
        background-color:darksalmon;
        
        
    }
</style>
<div class="comment">
    <p> Comment : {{comment.comment}} </p>
    <p>Posted by: {{comment.users}}</p>
    On date : {{comment.posted.strftime('%Y-%m-%d')}} <br>
</div>

{%endfor %}
{% endmacro %}

{% macro displayUserBlogs(user_blogs)%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">"
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 {% for blog in user_blogs %}
 <style>
    .display{
        font-size: 0.5cm;
        background-color:darksalmon;
        
        
    }
</style>
 <div class="display">
    <h3>Title: <strong> {{blog.title}}</strong></h3>
    Blog: <i>{{blog.blog}}</i>
   
    <a href="{{url_for('main.update_blog',blog_id=blog.id)}}"><button type="button">Update blog</button></a><br>

    <a href="{{url_for('main.delete_blog',blog_id=blog.id)}}"><i class="fa fa-trash fa-2x"
        aria-hidden="true"></i></a> <br>
{%endfor%}
</div>
                           
{% endmacro%}